*{
    margin:0;
    padding: 0;
}

/*programando o header*/
.cabecalho 
{
    background-color: #0a0909;
    color: #ffffff; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

    /*text-align: center;*/
}
.cabecalho-imagem{
    width: 20%;
    height: 100%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px 0 10px;
    font-size: 24px;

}
.cabecalho-div{
    display:flex;
}
.cabecalho-titulo{
    padding: 20px 0;
    color:bisque
}